{#{% extends "@FOSUser/layout.html.twig" %}#}
{% include "layout.html.twig" %}



<div>
{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
</div>