{#{% extends "@FOSUser/layout.html.twig" %}#}
{% include "layout.html.twig" %}


<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 mx-auto">
                <div class="card border-none">
                    <div class="card-body">
                        <div class="mt-2">
                            <img src="{{ asset('assets/images/logo-en.png') }}" alt="Wadi" class="brand-logo mx-auto d-block img-fluid rounded-circle"/>
                        </div>
                        <p> </p>
                        <div class="mt-2 text-center">
                            <h2>Create Your Account</h2>
                        </div>

                        <div class="mt-4">
                            {% block fos_user_content %}
                                {% include "@FOSUser/Registration/register_content.html.twig" %}
                            {% endblock fos_user_content %}
                            <div class="clearfix"></div>
                            <!-- <p class="content-divider center mt-4"><span>or</span></p> -->
                        </div>
                        <!-- <p class="mt-4 social-login text-center">
                             <a href="#" class="btn btn-twitter"><em class="ion-social-twitter"></em></a>
                             <a href="#" class="btn btn-facebook"><em class="ion-social-facebook"></em></a>
                             <a href="#" class="btn btn-linkedin"><em class="ion-social-linkedin"></em></a>
                             <a href="#" class="btn btn-google"><em class="ion-social-googleplus"></em></a>
                             <a href="#" class="btn btn-github"><em class="ion-social-github"></em></a>
                         </p> -->
                        <p class="text-center">
                            Already have an account? <a href="/login">Login Now</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 mt-5 footer">
                <!--  <p class="text-white small text-center">
                     &copy; 2017 Login/Register Forms. A FREE Bootstrap 4 component by 
                     <a href="https://wireddots.com">Wired Dots</a>. Designed by <a href="https://twitter.com/attacomsian">@attacomsian</a>
                 </p> -->
            </div>
        </div>
    </div>
</section>